<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chirp</title>
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/css/chirp.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Chirp</a>
        </div>
      </div>
    </nav>
    <!-- Classes not provided by Bootstrap are prefixed with "cp-". -->
    <main class="container-fluid" id="app">
      <div class="row">
        <div class="col-md-6 col-md-push-3">
          <div class="alert" v-bind:class="'alert-' + alert.type" v-cloak v-show="alert.text">
            <button type="button" class="close" aria-label="Close" v-on:click.prevent="clearAlert"><span>&times;</span></button>
            <span v-html="alert.text"></span>
          </div>
          <form class="form-stacked cp-form clearfix" method="post" v-on:submit.prevent="onSubmit">
            <div class="form-group">
              <label for="message">What's Happening?</label>
              <textarea class="form-control" name="message" id="message" v-model="draft.message"></textarea>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="card">Card Number</label>
                <input type="text" name="card" id="card" class="form-control" v-model="draft.card">
              </div>
              <div class="form-group col-md-6">
                <label for="amount">Donation Amount</label>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="number" name="amount" id="amount" class="form-control" v-model.number="draft.amount">
                </div>
              </div>
            </div>
            <button type="submit" class="cp-post btn btn-primary pull-right">Donate &amp; Post</button>
          </form>
          <h3>Chirps</h3>
          <ul class="cp-messages list-group" v-cloak>
            <li class="list-group-item" v-for="message in messages">
              <span class="badge">${{message.amount}}</span>
              {{message.message}}
            </li>
          </ul>
        </div>
      </div>
    </main>

    <script src="js/vendor/vue.js"></script>
    <script src="js/vendor/axios.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
