swagger: "2.0"
info:
  title: Chirp API
  description: API for a social network with donations.
  version: 1.0.0

host: chirp-chirp.apps.ehealth.rht-labs.com
basePath: /v1
schemes:
  - https

definitions:
  Donation:
    type: object
    properties:
      message:
        type: string
      amount:
        type: number
        format: float
      transactionId:
        type: string
        format: uuid
  PaymentGateway:
    type: 'object'
    required:
      - cardNumber
      - amount
    properties:
      cardNumber:
        type: string
        format: 'Credit card number'
      amount:
        type: number
        format: float
      transactionId:
        type: string
        format: uuid

paths:
  /donation:
    get:
      summary: 'Return recent messages.'
      produces:
        - application/json
      responses:
        200:
          description: 'List of messages. transactionId may be empty.'
          schema:
            title: Donation
            type: object
            items:
              $ref: '#/definitions/Donation'
    post:
      summary: Add a new message.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: body
          name: donation
          description: 'Message with optional donation.'
          schema:
            $ref: '#definitions/Donation'
      responses:
        200:
          description: OK
        403:
          description: 'Improperly formatted post'
  /payment-gateway:
    post:
      summary: Process a donation.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: body
          name: paymentGateway
          description: 'Payment information from client. Transaction ID is empty.'
          schema:
            $ref: '#/definitions/PaymentGateway'
      responses:
        200:
          description: 'transactionId'
          schema:
            title: paymentGateway
            type: object
            items:
              $ref: '#/definitions/PaymentGateway'
        403:
          description: 'Improperly formatted post'

